@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

/* @plugin "daisyui/theme" {
	name: 'lofi';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(94% 0 0);
	--color-base-content: oklch(21% 0.006 56.043);
	--color-primary: oklch(68% 0.169 237.323);
	--color-primary-content: oklch(97% 0.013 236.62);
	--color-secondary: oklch(43% 0 0);
	--color-secondary-content: oklch(98% 0.001 106.423);
	--color-accent: oklch(59% 0.249 0.584);
	--color-accent-content: oklch(97% 0.014 343.198);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(50% 0.134 242.749);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(59% 0.145 163.225);
	--color-success-content: oklch(97% 0.021 166.113);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 2rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
} */

hgroup {
	@apply text-slate-800 dark:text-slate-100;

	h1 {
		@apply mb-4 text-4xl leading-none font-extrabold tracking-tight md:text-5xl lg:text-6xl dark:text-white;
	}

	h2 {
		@apply text-4xl font-extrabold;
	}

	h3 {
		@apply text-3xl font-bold;
	}

	h4 {
		@apply text-2xl font-bold;
	}

	h5 {
		@apply text-xl font-bold;
	}
}


.main1 {
	background-image: url('./img/bg-1.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-position: right;
}