// @import 'patreals/_vars.scss';
// @import 'patreals/_body.scss';
// @import 'patreals/_main.scss';
// @import 'patreals/_layer.scss';
// @import 'patreals/_content.scss';
// @import 'patreals/_img-grid.scss';
// @import 'patreals/_game-grid.scss';
// @import 'patreals/_game-util.scss';
// @import 'patreals/_svg-icon.scss';

@use 'patreals/_vars.scss';
@use 'patreals/_body.scss';
@use 'patreals/_main.scss';
@use 'patreals/_layer.scss';
@use 'patreals/_content.scss';
@use 'patreals/_img-grid.scss';
@use 'patreals/_game-box.scss';
// @use 'patreals/_game-util.scss';
@use 'patreals/_svg-icon.scss';
@use 'patreals/flip-card.scss';
@use 'patreals/_util.scss';
@use 'patreals/_splash.scss';

.main-game {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: min(90vw, 160vh);
	overflow: hidden;
	max-width: 1024px;
	aspect-ratio: 16 / 9;
	/* Verhindert überlaufende Inhalte außerhalb von main */
}

.page {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	transition: opacity 0.5s ease-in-out;

	&.page-hidden {
		opacity: 0;
		z-index: -1;
	}

	&.active {
		opacity: 1;
		z-index: 1;
	}

	/* Ermöglicht vertikales Scrollen, falls nötig */
}
