:root {
	--gg-size: 500px;
	--gg-gap: 1px;
	--gg-cols: 10;
	--gg-rows: 10;
}

.rogue-wrapp {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: min-content 1fr min-content;
	grid-auto-flow: row;
	grid-template-areas: '. rogue-bar .' 'rogue-left rogue-main rogue-right' '. rogue-foo .';
	> * {
		position: relative;
		overflow: hidden;
	}
}

.rogue-main {
	grid-area: rogue-main;
	width: var(--gg-size);
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1/1;
	position: relative;
	padding: 0;
	margin: 0;
}

.rogue-bar {
	grid-area: rogue-bar;
}

.rogue-foo {
	grid-area: rogue-foo;
}

.rogue-grid {
	display: grid;
	width: var(--gg-size);
	grid-template-columns: repeat(var(--gg-cols), 1fr);
	grid-template-rows: repeat(var(--gg-rows), 1fr);
	gap: var(--gg-gap);
	padding: var(--gg-gap);
	position: relative;

	.rogue-tile {
		display: grid;
		grid-template: 1 / 1;
		aspect-ratio: 1 / 1;
		position: relative;
		overflow: hidden;

		> * {
			grid-row: 1;
			grid-column: 1;
			display: grid;
			place-content: center;
			overflow: hidden;
		}

		&.wall {
			background: var(--gb-medium);
		}

		&.floor {
			background: var(--gb-200);
		}

		.player {
			background: var(--gb-primary);
		}
		.item {
			background: var(--color-danger);
		}
	}
}

.page-layer:has(.rogue-wrapp) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rogue-layer {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow-x: hidden;
}

.rogue-right {
	grid-area: rogue-right;
}

.rogue-left {
	grid-area: rogue-left;
}
