:root {
	--size: 600px;
	--gap: 1px;
	--cols: 30;
	--rows: 30;
}

.rogue-grid {
	display: grid;
	width: var(--size);
	width: var(--size);
	grid-template-columns: repeat(var(--cols), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
	gap: var(--gap);
	padding: var(--gap);
	position: relative;

	.tile {
		display: grid;
		grid-template: 1 / 1;
		aspect-ratio: 1 / 1;
		position: relative;
		overflow: hidden;
		background-color: var(--tile-color);
		color: var(--tile-color);

		> * {
			grid-row: 1;
			grid-column: 1;
			display: grid;
			place-content: center;
			overflow: hidden;
		}

		.player {
			background: var(--gb-primary);
		}
	}
}

$icons: (
	'tile': #cbd5e1,
	'tile-0': #0069a8,
	'tile-1': #1e293b
);

@each $name, $color in $icons {
	.#{$name} {
		--tile-color: #{$color};
	}
}
