.generator-wrapp {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: var(--spacing-sm);
    grid-auto-flow: row;
    grid-template-areas: ". gen-type ."
    ". gen-count ."
    ". gen-action ."
    ". gen-lang ."
    "gen-out gen-out gen-out";
    padding: var(--spacing-base);
    border-radius: var(--spacing-sm);
    border: 4px solid var(--color-base-300);
    background-color: var(--color-base-100);
}

.gen-type {
    grid-area: gen-type;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.gen-count {
    grid-area: gen-count;
    display: grid;
}

.gen-action {
    grid-area: gen-action;
}

.gen-lang {
    grid-area: gen-lang;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.gen-out {
    grid-area: gen-out;
    display: grid;
}
